.box2{

    grid-area: 1/1/7/2;
    /*z-index: 1;*/
    /*border-right: 10px solid rgba(207, 184, 4, 0.973);*/
    /*display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;*/
    /*padding-left: 17px;*/
  }
 
